
.login-container {

    /*POSITION OBJ */

    display: flex; 
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    padding-right: 5ch;

    /*background */

    background-image: url(../../img/background.png);
    background-size: cover;
    background-position: center;
    

}

/*CONFIG STYLE OF FORM*/

#container {

    background-color: white;
    text-align: center;
    width: 35vw;
    height: 75vh;
    padding: 35px;
    border-radius: 15px;
    
}

#img_logo {
    width: 30vw;
    margin-bottom: 20px;

}

/*CONFIG STYLE OF INPUTS*/

#container #Email_User, #Password_User {
    width: 94%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
  }

  /*CONFIG BTN*/

  #container #acceso, #New_user {
    width: 100%;
    background-color: #47077a;
    color: white;
    font-size: 1rem;
    padding: 12px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    

  }

  #container #acceso:hover, #New_user:hover {
    background-color: #270345;
  }

  /*CONFIG TAG "A" */

  #container #Container_Mod {
    display: flex;
    justify-content:space-between;
    margin-top: 20px;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    
  }

  #container #Container_Mod a {
    
    text-decoration: none;
    color: #270345;
  }

  #container #Container_Mod a:hover {
    
    text-decoration: underline;
  }



/*---------------------------------------------------------------*/

/*Media Querys for dispotives mobiles*/


/*TABLETS*/

@media only screen and (max-width: 1024px) {

    #container {
        width: 50vw; 
        height: 65vh; 
        padding: 25px;
        justify-content: center;
        align-items: center;
        padding-right: 5ch;
        background-repeat: no-repeat;
        
    }

    .login-container {
        justify-content:space-around;
        padding-left: 10px;
    }

    #img_logo {
        width: 40vw;
    }

    #container #Email_User, #Password_User {
        width: 95%;
    }

    #container #acceso, #New_user {
        font-size: 0.9rem;
        padding: 10px;
    }
}

/* PHONES */

@media only screen and (max-width: 600px) {

    #container {
        width: 90vw; 
        height: auto;
        padding: 25px;
        border-radius: 10px;
        justify-content: center;
        padding-right:0;
    }

    #img_logo {
        width: 70vw;
    }

    #container #Email_User, #Password_User {
        width: 95%;
    }

    #container #acceso, #New_user {
        font-size: 0.8rem;
        padding: 8px;
    }

    #container #Container_Modificaciones {
        flex-direction: column;
        align-items: center;
        font-size: 0.7rem;
        
    }

    .login-container {
        justify-content:space-around;
        padding-left: 40px;
    }

    #container #Container_Mod {
        width: 90%;
    }

    #container #acceso, #New_user {
        width: 90%;
        justify-content: center;
    }

    #container #Container_Modificaciones a {
        margin-top: 5px;
        
    }
}